!!!
html
  head
    link(rel="stylesheet" href="/css/screen.css")

    script(type="application/javascript" src="/_bower_components/jquery/jquery.min.js")

    script(type="application/javascript" src="/_bower_components/foundation/js/foundation.min.js")
    script(type="application/javascript" src="/_bower_components/foundation/js/vendor/custom.modernizr.js")
    script(type="application/javascript" src="/_bower_components/foundation/js/vendor/fastclick.js")
    script(type="application/javascript" src="/_bower_components/foundation/js/vendor/jquery.autocomplete.js")
    script(type="application/javascript" src="/_bower_components/foundation/js/vendor/jquery.cookie.js")
    script(type="application/javascript" src="/_bower_components/foundation/js/vendor/placeholder.js")

    script(type="application/javascript" src="/js/main.js")

  body

    .contain-to-grid
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            h1
              a(href="/") Elaine is the best

      section.top-bar-section
        ul.right


    .row.top
      img.headshot(src="/images/bench_shot.jpg")

    .row
      .small-12.columns.medium-8.medium-offset-2
        #home
          h1 Happy <i>(very belated)</i> Birthday!
          h2 Preface
          p 
            | So I'm not the biggest fan of writing paper cards (not to say I don't like receving them <code>:)</code> ) 
            | they can be lost, and the web is forever!
            | And as a person who makes websites for a living it seems silly not be able to find a better solution.

          h4 Technical Part of the Preface (you can skip this section)
          p
            | And so, the totally customized birthday website was born! 
            | It runs on any HTTP server, servering static assets. And you're probaly wondering

            blockquote Ummm that's great, but why do I care?

            | and that's a pretty good question; and there are two pretty simple reasons:

          ul
            li No dev stack needed to run (anyone can run and make changes)
            li Its really fast and can be hosted anywhere

          p
            blockquote Cool. But I'm still not seeing it.

            | Basically if you ever want to run your own site (online resume, profile, blog, etc...)
            | it will be really easy to learn/run.
            | AND I throw in free lessons of course <code>:)</code>

          h4 Features of Totally Awesome Online Birthday Card

          ul
            li Your friends will all be jealous that their boyfriends can't code them a birthday website
            li Totally static = <strong>FREE HOSTING</strong>. (currently using github's servers)
            li Completely responsive (works great on your phone), based on the latest <code>foundation 5</code>
            li Will last <i>forever</i> and is even prone to updates
            li More to come... <code>;)</code>

          .panel.radius
            h2 The Card
            p
              | So I know its like <strong>REALLLLLLLLLLY</strong> late, but hopefully you still enjoy it.

            p
              | So here goes: Happy birthday my sweet, my love. This past year has been
              | amazing ride with you, and we're going to be make the next one even better!

            p
              | I also found a card that sums up pretty well how I feel:

            p
              img(src="/images/card_poop_taco.jpg")

            p
              | I can't imagine not having you around, and hanging out with you 
              | (regardless of what we do) is still my favourite thing thing to do.

            h3 Have an AMAZING year of being 21!

            p
              | With ALL THE LOVE - Adam

            p
              img.allthelove(src="/images/all_the_love.jpg")

